* {
    box-sizing: border-box;
}
body {
    background-color: #374151;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Roboto';
    margin: 0 auto;
    padding: 0;
}
header {
    margin: 80px auto;
    max-width: 1080px;
}
header > a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}
.heroBlog {
    margin-right: 77px;
}
.heroB {
    padding: 5px 8px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.15);
    font-size: 18px;
    font-family: 'Source', 'Sans','Pro';
}
nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul > li {
    display: inline-block;
}
li:nth-child(1) {
   margin-right: 52px;
}
li:nth-child(2) {
    margin-right: 39px;
}
nav a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 200px;
}
#search {
    max-width: 224px;
    border-radius: 100px;
    background: rgba(31, 41, 55, 0.6);
    padding: 10px 30px;
    color: #FFFFFF;
}
form {
    position: relative;
}
form::before {
    position: absolute;
    content: url(../image/search.svg);
    top: 14px;
    left: 18px;
}
section > .firstSection {
    margin: 0 auto;
    margin-bottom: 70px;
    display: inline-block;
}
.frontend {
    max-width: 180px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    margin-bottom: 14px;
}
h1 {
    max-width: 525px;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.user1 {
    max-width: 214px;
    margin: 0 auto;
}
.user {
    line-height: 28px;
}
.FIO {
    width: 148px;
    font-size: 16px;
}
.profession {
    width: 85px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
.image {
    max-width: 896px;
    height: 594px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.info {
    max-width: 708px; 
    margin: 0 auto;
    margin-bottom: 103px;
}
.paragraph1 {
    font-size: 20px;
    line-height: 32px;
}
.paragraph2 {
    line-height: 30px;
    font-size: 16px;
}
.pLink {
    color: #FFFFFF;
    text-decoration: underline;
}
.footer {
    max-width: 226px;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 77px;
}