* {
    box-sizing: border-box;
}
body {
    background-color: #374151;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Roboto';
    height: 1516px;
    margin: 0 auto;
    padding: 0;
}
header {
    margin: 80px auto;
    max-width: 1080px;
}
header > a {
    color: #FFFFFF;
    text-decoration: none;
}
.heroB {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.15);
    font-size: 18px;
    line-height: 22px;
    font-family: 'Source', 'Sans','Pro';
}
nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
li:nth-child(1) {
   margin-right: 52px;
}
li:nth-child(2) {
    margin-right: 39px;
}
nav a {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18.75px;
    text-decoration: none;
    margin-bottom: 200px;
}
#search {
    width: 224px;
    height: 40px;
    border-radius: 100px;
    background: rgba(31, 41, 55, 0.6);
    padding: 10px 30px;
    color: #FFFFFF;
}
form {
    position: relative;
}
form::before {
    position: absolute;
    content: url(../image/search.svg);
    top: 14px;
    left: 18px;
}
section > .firstSection {
    margin: 0 auto;
    margin-bottom: 70px;
}
.author {
    max-width: 525px;
    margin: 0 auto;
}
.frontend {
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400; 
    color: rgba(255, 255, 255, 1);
    padding: 0 172px 0px 172px;
}
h1 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    height: 76px;
    font-family: 'Roboto';
    padding-bottom: 30px;
}
.user {
    width: 214px;
    height: 53px;
    margin-bottom: 98px;
    padding: 0;
    /* Отступ не делается, хотя в макете показано, что отступ 28px */
}
.userPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.user .FIO {
    width: 148px;
    height: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.user .profession {
    width: 85px;
    height: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
}
.image {
    max-width: 896px;
    height: 594px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 70px;
}
section .info {
    max-width: 708px;
    height: 101px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Roboto';
    margin: 0 auto;
}
.paragraph1 {
    font-size: 20px;
    line-height: 32px;
    padding-left: 367px;
    padding-right: 367px;
}
.paragraph2 {
    line-height: 30px;
    font-size: 16px;
    padding-left: 367px;
    padding-right: 367px;
}
.pLink {
    color: #FFFFFF;
    text-decoration: underline;
}
footer {
    max-width: 226px;
    height: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto;
}